@using WestAgileLabs.Controllers;
@model dynamic

<html>
    <head>
        <style>
            .column-33 {
                float: left;
                width: 33.33333%;
                padding: 20px;
            }

            .column-66 {
                float: left;
                width: 66.66666%;
                padding: 20px;
            }

            .container {
                padding: 4px;
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 100%;
                min-height: 20%;
                margin: 20px;
                text-align: center;
                font-family: arial;
            }

            .scroll {
                max-height: 200px;
                height: auto;
                overflow-y: scroll;
                scrollbar-color: light;
            }

            .scroll::-webkit-scrollbar {
                display: none;
            }
            .profilepic {
                max-width: 100%;
                height: auto;
            }

            button[type=submit] {
                margin: 1% 0;
                padding: 10px 20px;
                opacity: 0.9;
            }

            button[type=button] {
                margin: 1% 0;
                padding: 8px;
                opacity: 0.9;
            }



            .scrollskill {
                max-height: 150px;
                height: auto;
                overflow-y: scroll;
                scrollbar-color: light;
            }
        </style>
    </head>
    <body>
    @foreach (Employee employee in Model.Employee)
    {
        Console.WriteLine(employee.Employee_Name);
        <div class="card">
            <div class="row">
                <div class="column-33">
                    <div class="card">
                        <hr />
                        <div style="text-align: center">
                            @{
                                if (employee.Gender == "Male")
                                {
                                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="profilepic" height="200" width="200" style="max-width: 100% " />
                                }
                                else
                                {
                                    <img src="https://cdn-icons-png.flaticon.com/512/6833/6833591.png" class="profilepic" height="200" width="200" style="max-width: 100% " />
                                }
                            }
                        </div>
                        <h1>@employee.Employee_Name</h1>
                        @foreach (Role role in Model.EmployeeRole)
                        {
                            <h2 class="role">Role : @role.RoleName</h2>
                        }
                        <h3>@employee.Email</h3>
                        <h3>+91 @employee.PhoneNumber</h3>
                    </div>
                </div>
                <div class="column-66">
                    <div class="card">
                            <h3>Total Experience : @employee.Experience months</h3>
                            <h3>Date of Birth : @employee.DOB.ToLongDateString()</h3>
                    </div>
                    <div class="card">
                        <div style="text-align:center">
                            <h2 style="margin:10px">Skills</h2>
                            <hr style="margin:15px">
                        </div>
                        <div class="scroll">
                            @for (int i = 0; i < Model.EmployeeSkill.Count; i++)
                            {
                                <h3>@Model.EmployeeSkill[i].SkillName - @Model.Skillexp[i] months</h3>
                            }
                        </div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-primary" onclick="history.back()">Previous Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }                      
    </body>
</html>